<h1>{{ book_detail }}</h1>
<h3>Характеристики:</h3>

<li><strong>Название книги:</strong>{{ book.title }}</li>
<li><strong>Автор:</strong>{{ book.author }}</li>
<li><strong>Жанр:</strong>{{ book.genre }}</li>
<li><strong>Год публикации:</strong>{{ book.publication_year}}</li>
<li><strong>Цена:</strong>{{ book.price}} сом.</li>
<li><strong>Количество страниц:</strong>{{ book.pages}}</li>
<li><strong>Рейтинг:</strong>{{ book.rating}}</li>
<li><strong>Описание:</strong>{{ book.description}}</li>
<li><strong>Издательство:</strong>{{ book.publisher}}</li>
<li><strong>Доступна ли книга в продаже:</strong>{{ book_is_available}}</li>





